{% extends '/dashboard/layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block container %}
     <div>
        <h1 class="mb-0">Reset your password</h1>
     </div>
        <div class="table-responsive mt-3">
            <table class="table table-striped table-hover table-sm mb-0">
                <tbody>
                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-primary">Reset password</button>
                    {{ form_end(resetForm) }}
                </tbody>
            </table>
        </div>
    
{% endblock %}
