{% extends 'base.html.twig' %}
{% block body %}


<form method="get" action="{{ path('app_file_search') }}" class="fm-search">
    <div class="mb-0">
        <div class="input-group input-group-lg">
            <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
            <input type="text" name="q" class="form-control" placeholder="Search the files" value="{{ app.request.get('q') }}">
        </div>
    </div>
</form>

{% endblock %}