{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container">
<div class="row">
    <div class="col-12 col-lg-3">
        {# Start Nav #}
		{% include './sidenav.html.twig' %}
        {# End Nav #}
        {# Start Component #}
		  {{ render(controller(
        'App\\Controller\\DashboardController::folders', {id: 1}
    )) }}
        {# End Component #}
	</div>
	<div class="col-12 col-lg-9">
		<div class="card">
			<div class="card-body">
                {# Start Search #}
                {% include './search.html.twig' %}
                 {# End Search #}
                {% block container %}
                
                {% endblock %}
			</div>
		</div>
	</div>
</div>
</div>
   
  

{% endblock %}
